<% layout('layout/boilerplate')-%>

    <h1 class="text-center mb-5">Highest Rated Destinations</h1>
    <% if (wedgrounds.length===0) { %>
        <div class="d-flex justify-content-center">
            <img class="img-fluid" style="opacity: 0.7;height:400px; width: 800px; margin-bottom: 2em;" src="/img/noresult.png" alt="No results found">
        </div>    
    <% }  else {%>    
        <% for(let wedground of wedgrounds) {%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid " src="<%= wedground.images[0].url%>" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=wedground.title%>
                            </h5>
                            <p class="card-text">
                                <%=wedground.description%>
                            </p>
                            <p class="list-group-item">
                                <small class=" text-muted">
                                    <%=wedground.location%>
                                </small>
                            </p>
                            <a href="/wedgrounds/<%= wedground.id%>" class="btn btn-dark">View</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <%}%>
